<!doctype html>
<html ng-app="FlightSimApp">
<head>
    <title>Flightsim tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/brainstam.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/v2.3.8/angular-strap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/v2.3.8/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="dist/js/socket.io.js"></script>
    <script type="text/javascript" src="dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCHsBamyAiT_le60fWJZmjDBU-5rkPjp9E"></script>
    <script type="text/javascript"
            src="dist/js/ng-map.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
</head>
<body>

<header>
    <div class="container">
        <nav class="navbar nav-bar-default" role="navigation">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navHeaderCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Flightsim Tracker</a>
            </div>

            <div class="collapse navbar-collapse" id="navHeaderCollapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Settings<b class="caret"></b></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-custom">
                            <li>
                                <a href="#">About</a></li>
                            <li>
                                <a href="/position">Position</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</header>

<div class="container" ng-controller="ChartController">
    <div class="row">

        <div class="col-md-8" style="height: 500px">
            <h2>Position on the map</h2>
            <div id="map">
                <map default-style="false" center="{{position.latitude}}, {{position.longitude}}">
                    <marker position="{{position.latitude}}, {{position.longitude}}" icon="{{position.image}}">
                        <div>
                            <span class="flight-tag">{{aircraft.tailnum}}</span>
                        </div>
                    </marker>
                </map>
            </div>

        </div>
        <div class="col-md-4">
            <h2>About</h2>
            <p><span ng-bind="teststring"></span></p>
            <h4>Plane</h4>
            <ul>
                <li>{{aircraft.icao}} - {{aircraft.tailnum}}</li>
            </ul>
            <h4>Location</h4>
            <p>We are at: [<span ng-bind="position.lat_str"></span>, <span ng-bind="position.lon_str"></span>],
                Alt=<span
                        ng-bind="position.alt_str"></span></p>
            <button type="button" class="btn btn-lg btn-primary">Center map</button>
        </div>
    </div>
</div>

<footer ng-controller="InfoController" class="navbar dark-gray dark-gray">
    <div class="container">
        <div class="row no-col-border">
            <div class="col-md-6 no-col-border">
                <h5>Future features</h5>
                <ul ng-repeat="feature in features">
                    <li>{{feature}}</li>
                </ul>
            </div>
            <div class="col-md-6 no-col-border">
                <h5>Related sites</h5>
                <ul ng-repeat="site in sites">
                    <li><a href="http://{{site}}">{{site}}</a></li>
                </ul>
            </div>
        </div>

        <p><span class="glyphicon glyphicon-copyright-mark"></span> 2016 - {{copyright}}</p>

    </div>
</footer>
</body>
</html>
