h1 {
    color: #2b542c;
}

h2 {
    color: #2b542c;
}

map {
    height: 80%;
    width: 95%;
    position:absolute;
}

.row > div {
    /*margin-top:10px;*/
    /*padding: 20px;*/
    /*outline: 2px solid #ccc;*/
    /*outline-offset: -10px;*/
    /*-moz-outline-radius: 10px;*/
    /*-webkit-outline-radius: 10px;*/
 }

.no-col-border {
    /*outline: 0px transparent #555;*/
}

.dark-gray {
	background-color: #555;
    color: #bbb;
    font-size: 9pt;
 }

.footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
    padding-top: 20px;
}

.flight-tag {
    color: #18993c;
    background-color: #fff;
    opacity: 0.75;
}